{% extends '_base.html' %}

{% block title %}
Bienvenue sur Realtor
{% endblock %}

{% block content %}
<div>
    {% if not user.is_authenticated %}
    {% load crispy_forms_tags %}

    <div>
        <div class="alert alert-danger" role="alert">
            Vous n'êtes pas connecter sur le site Realtor
        </div>
        <form action="{% url 'auth_odoo:login' %}" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>

    {% else %}
    <!-- <div class="alert alert-success" role="alert">
        Bienvenue <b>{{ user.email }}</b> sur le site Realtor
    </div> -->
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Vous êtes connecté sur Realtor</h4>
        <p>
            Vous pouvez désormais lister toutes les appartements qui sont actuellement en vente.
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}