{% extends '_base.html' %}

{% block title %}
La liste des appartements
{% endblock title %}

{% block content %}

{% if products %}
<table class="table table-bordered mt-5 text-center">
    <thead>
        <tr>
            <th scope="col">Appartement</th>
            <th scope="col">Description</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité disponible dans le stock</th>
            <th scope="col">Montant maximale proposer</th>
            <th scope="col">Meilleur acheteur</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }} €</td>
            <td>{{ product.qty_available }}</td>
            <td> {{ product.offer }} €</td>
            {% if product.buyer %}
            <td>{{ product.buyer }}</td>
            {% else %}
            <td>Pas de meilleur acheteur pour le moment</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="alert alert-info text-center" role="alert">
    Vous pouvez proposer une offre pour un appartement
</div>

<div class="d-flex justify-content-center">
    <form class="form-inline w-25 border p-4 rounded shadow-sm" action="{% url 'apartments:offer' %}" method="get">
        <div class="form-group m-3">
            <label for="buyer" class="sr-only pb-3">Le nom de l'acheteur</label>
            <input type="input" class="form-control" id="buyer" name="buyer" required>
        </div>

        <div class="form-group m-3">
            <label for="amount" class="sr-only pb-3">Montant</label>
            <input type="number" class="form-control" id="amount" name="amount" required>
        </div>

        <div class="form-group m-3">
            <label for="apartment_name" class="sr-only pb-3">L'appartement choisi</label>
            <select class="form-control" id="apartment_name">
                {% for product in products %}
                    <option value={{ product.name }}>{{ product.name }}</option>
                {%  endfor %}
              </select>
        </div>

        <button type="submit" class="btn m-3 bg-light border border-dark">Soumettre offre</button>
    </form>
</div>

{% endif %}

{% endblock %}