{% extends '_base.html' %}

{% block title %}
La liste des appartements
{% endblock title %}

{% block content %}

<div class="alert alert-info" role="alert">
    Pour pouvoir récupèrer les appartements depuis <b>Odoo</b> en passant par <b>XML-RPC</b>, il est nécessaire de
    re-taper le mot de passe
</div>

<form class="form-inline w-25 mt-4" action="{% url 'apartments:fetch' %}" method="post">
    {% csrf_token %}
    <div class="form-group mb-2">
        <label for="email" class="sr-only">Email</label>
        <input type="text" readonly class="form-control-plaintext" id="email" value="{{ user.email}}">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="password" class="sr-only">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Récupèrer les appartements</button>
</form>

{% if products %}
<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th scope="col">Appartement</th>
            <th scope="col">Description</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité disponible dans le stock</th>
            <th scope="col">Proposer offre</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }} €</td>
            <td>{{ product.qty_available }}</td>
            <td>
                <div>
                    <button type="submit" class="btn mb-2 bg-light border border-dark">Soumettre offre</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% else %}
<div class="alert alert-light" role="alert">
    Aucun appartements récupèrer depuis le script
</div>
{% endif %}

{% endblock %}